// Layout
$grid-columns: 24;
$col-width: 100vw / $grid-columns;
$offset-side-fhd: $col-width;
$offset-side-xl: $col-width * 1.125;
$offset-side: 24px;

$breakpoints: (
    xs: 320,
    sm: 375,
    md: 768,
    xl: 1280,
    xxl: 1440,
    fhd: 1920,
);
