.spoiler {
    $root: &;
    overflow: hidden;
    cursor: pointer;

    &__head {
        padding: 20px 30px;
        font-size: 30px;
    }

    &__content {
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s;

        &-inner {
            padding: 30px;
        }
    }

    &.show {
        #{$root}__content {
            max-height: 2000px;
        }
    }
}