include ../../components/common/header/header
include ../../components/common/video/video
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/ui/input/input
