mixin spoiler(props)
    .spoiler&attributes(attributes)
        .spoiler__head 
            p spoiler head +
        .spoiler__content
            .spoiler__content-inner
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eligendi accusantium placeat quam, nostrum tenetur.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eligendi accusantium placeat quam, nostrum tenetur.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eligendi accusantium placeat quam, nostrum tenetur.
